body {
    width: 1200px;
    min-height: 100vh;
}

.test {
    width: 20%;
}

#status{
    font-size: 2rem;
}

#myBar {
    height: 24px;
    width: 0;
    background-color: coral;
    text-align: center;
    font-size: 16px;
}

#update {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
    background-color:tomato;
}

#update:hover {
    cursor: pointer;
}

@media only screen and (max-width: 739px) and (orientation: portrait)
{
    body {
        max-width: 100%;
    }

    .test {
        margin: 0 auto;
        width: 100%;
    }

    #test {
        padding-left: 35%;
        padding-top: 10%;
        padding-bottom: 10%;
    }


    #status {
        text-align: center;
        margin: 5% auto;
    }

    #update {
        width: 75%;
        margin: 0 12%;
    }
}